easyxml-jaxb-example/src/main/resources/note.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="note"  maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string" />
				<xs:element name="content" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>